@import '../../../../assets/styles/variables.scss';

:host {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: $main-txt-color;
}

/* buttons */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.5vh;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: $main-blue;
    border-radius: 2vh;
    border: 0px solid $main-blue;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $main-white;
    border: 0.25rem solid $main-blue;
    margin-top: -0.45rem;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 2.5vh;
    cursor: pointer;
  }

  &:focus::-webkit-slider-runnable-track {
    background: $main-blue;
  }

  &::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: $main-blue;
    border-radius: 1vh;
    border: 0px solid $main-blue;
  }

  &::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: $main-blue;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $main-blue;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }

  &::-ms-fill-upper {
    background: $main-blue;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }

  &::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: $main-blue;
    cursor: pointer;
  }

  &:focus {
    &::-ms-fill-lower, &::-ms-fill-upper {
      background: $main-blue;
    }
  }
}

/* App container */

#screen {
  background: $main-white;
  height: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  flex-direction: column;
}

/* Sync button */

#sync-container {
  width: 40%;
  height: 7%;
}

#sync-button {
  float: right;
  height: 4rem;
  width: 4rem;
  color: $main-grey;

  #sync-icon {
    font-size: 3rem;
  }
}

/* Active clients */

#clients {
  height: 5%;
  font-size: 2.3vh;
  font-weight: bold;
}

#online-icon {
  height: 1rem;
  width: 1rem;
  
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;

  &.online{
    background-color: $main-green;
  }

  &.offline{
    background-color: $main-grey;
  }
}

/* BPM display */

#display-box {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tempo-display {
  font-size: 10vh;
  line-height: normal;

  /* noselect for text */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  &:hover {
    cursor: default;
  }
}


/* Blinkers and animation  */

#blinkers {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  width: 30vw;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }

  &:active {
    filter: brightness(110%);
  }
}

.blink {
  height: 2.5rem;
  width: 2.5rem;
  background-color: $main-grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@-webkit-keyframes blink-animation {
  0% {
    background-color: $main-red;
  }

  100% {
    background-color: $main-grey;
  }
}

.makeBlink {
  -webkit-animation-name: blink-animation;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

/* tempo scroll */

#tempo-box {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  flex-direction: column;
}

/* tempo-scroll */

#tempo-scroll {
  width: 25vw !important;
}

/* Media buttons */

#media-buttons {
  height: 20%;
  display: flex;
  align-items: center;
}

#play-button {
  width: 5rem;
  height: 5rem;
  box-shadow: none;
  background-color: $main-blue;
  #play-icon {
    font-size: 3rem;
  }
}

#tempo-change-button {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  #tempo-icon {
    color: $main-grey;
    font-size: 4.5rem;
  }
}

#tempo-update-button {  
  background: $main-blue;
  color: white;
  border-radius: 2rem;
  width: 10rem;
  height: 2.7rem;
  &:disabled  {
    background-color: $main-grey;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  #sync-container {
    width: 90vw;
    height: 7vh;
  }

  #tempo-scroll {
    width: 80vw !important;
  }

  #blinkers {
    width: 90vw;
  }
}