<div id="screen">
    <!-- Sync button -->
    <div id="sync-container">
        <!-- <img  src="/assets/images/sync.png" (click)="sync();" type="button"/> -->
        <button mat-icon-button id="sync-button" id="sync-button" (click)="sync();" aria-label="Sync clients">
            <mat-icon id="sync-icon" inline="true" >sync</mat-icon>
        </button>
    </div>

    <!-- Active client count -->
    <div id="clients">
        <span id="online-icon" class="{{ isOnline ? 'online' : 'offline' }}"></span>
        <span id="client-count">{{ isOnline ? this.clientCount : "" }} </span>{{ isOnline ? "PLAYERS ONLINE" : "NO CONNECTION"}}
    </div>

    <!-- Display BPM -->
    <div id="display-box">
        <p id="tempo-display">{{ this.playerState.tempo }}</p>
    </div>

    <!-- Blink on beat -->
    <div id="blinkers" (click)="toggleResolution();">
        <div id="blink-0" class="blink" [ngClass]="{'makeBlink':this.metronomeAudio.notePartition == 0}"></div>
        <div id="blink-1" class="blink" [ngClass]="{'makeBlink':this.metronomeAudio.notePartition == 1}"></div>
        <div id="blink-2" class="blink" [ngClass]="{'makeBlink':this.metronomeAudio.notePartition == 2}"></div>
        <div id="blink-3" class="blink" [ngClass]="{'makeBlink':this.metronomeAudio.notePartition == 3}"></div>
    </div>

     <!-- Tempo -->
    <div id="tempo-box">
        <input id="tempo-scroll" type="range" min="35.0" max="270.0" step="1" [value]="this.playerState.tempo" (input)="playerState.tempo=$event.target.value;">
        <br/>
        <button mat-flat-button [disabled]="this.playerState.tempo == this.metronomeAudio.tempo" id="tempo-update-button" (click)="sendTempo();">Update BPM</button>
    </div>

    <!-- Media buttons -->
    <div id="media-buttons">
        <button mat-icon-button id="tempo-change-button" (click)="this.playerState.tempo=this.playerState.tempo-1" aria-label="Decrease tempo">
            <mat-icon id="tempo-icon" inline="true">remove</mat-icon>
        </button>
        <button mat-fab (click)="emitPlay();" id="play-button" aria-label="Play metronome">
            <mat-icon id="play-icon" inline="true" >{{playerState.state == 2 ? "play_arrow" : "pause"}}</mat-icon>
        </button>
        <button mat-icon-button id="tempo-change-button" (click)="this.playerState.tempo=this.playerState.tempo-1+2" aria-label="Increase tempo">
            <mat-icon id="tempo-icon" inline="true" >add</mat-icon>
        </button>
    </div>

</div> 
