@import '../../../assets/styles/variables.scss';

#header-container{
    color: $main-txt_color;
    font-size: large;
    height: 5%;
    display: inline-block;
    width: 100%;
}

#menu-button{
    font-size: large;
    margin-left: 2vw;
    width:8rem;
    border-radius: 0;
    height:3rem;    
    line-height: 3rem;
}