@import '../../../assets/styles/variables.scss';

#header-container{
    color: $main-txt_color;
    font-size: large;
    height: fit-content;
    display: inline-block;
    width: 100%;
}

#menu-button{
    color: $main-txt-color;
    font-size: large;
    margin-left: 2vw;
    width: fit-content;
    border-radius: 0;
    height:3rem;    
    line-height: 3rem;
}

.active{
    color: $dark-blue;
}