<div id="header-container">

    <button id="menu-button" mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" aria-label="Example icon-button with a menu">
        <mat-icon>{{ menuTrigger.menuOpen ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</mat-icon>
        Hello Kalli
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item
            *ngFor="let link of navLinks"
            [class.active]="link.index == activeLinkIndex"
            (click)="navButtonClicked(link)"
            [disabled] = "link.disabled" >
            <mat-icon [class.active]="link.index == activeLinkIndex">{{ link.icon }}</mat-icon>
            <span>{{ link.label }}</span>
        </button>
    </mat-menu>
    <app-timer></app-timer>
    
</div>
