#timer-container{
    display: flex;
    float:right;
}

#time-text-container {
    padding-right: 10px;
    height:3rem;    
    line-height: 3rem;
}

button{
    margin:auto;
    height:2rem;    
    line-height: 2rem;
    margin-right: 10px;
}