#timer-container{
    height:80vh;
    width:100vw;
    display: inline-flexbox;
    justify-content: center;
    align-items: center;  
    text-align: center;
}

mat-progress-spinner{
    margin:0 auto;
    ::ng-deep circle {
        stroke: #74C9FF;
        stroke-width: 1rem;
    }
}

#timer-progress-text{
    position: relative;
    top: -110px;
    font-size: 2rem;
    color: #6E6A6A;
}

#time-select-container{
    padding-top:20vh;
}

#timer-progress-container{
    padding-top:20vh;
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width:100px;
}

#start-timer-button{
    margin-top: 10vh;
    align-self: center;
    background-color: #6E6A6A;
    color:white;
    border-radius: 1.5rem;
    font-weight: normal;
}

button{
    margin: 10vw;
    background-color: white;
    font-size: 1rem;
    font-weight: lighter;
    border: white;
}
