.btn{
    background-color: #6E6A6A;
    color:white;
    border-radius: 1.5rem;
}

#picker-container{
    height:40vh;
    background: yellow;
}

#analysis-container{
    height:40vh;
    background: red;
}

