<div id="main-container">
  <div id="analysis-container">
    <button mat-flat-button (click)="initiateRecording()" *ngIf="!recording" class="btn btn-primary" > Start Tuning </button>
    <div id="result-container" [hidden]="!recording">
      <h1>{{ pitch }} Hz</h1>
      <h1>{{ note }}</h1>
      <h1>{{ detune }}: {{ detuneInt }}</h1>
    </div>
  </div>
  <canvas #canvas width="0" height="0"></canvas>
  <div id="picker-container">
    <mat-slider #slider *ngIf="picking"
        (input)="targetHertz = $event.value"
        [value]="targetHertz"
        [max]="maxNote"
        [min]="minNote"
        [step]="1"
        [thumbLabel]="true"
        [tickInterval]="1">
    </mat-slider>
    <p>{{ picking ? "Choose new target:" : "Target: "+targetHertz+"Hz"}}</p>
    <button mat-flat-button *ngIf="recording" class="btn btn-primary" (click)="picking=!picking" >{{ picking ? "Confirm" : "Pick new"}}</button>
  </div>
</div>


