<div *ngIf="auth.user$ | async as user; else login">
    <pre>
        {{ user | json }}
    </pre>
    <hr>
    <button class="button" (click)="auth.signOut()">Sign Out</button>
    <hr>
    <div *ngFor="let recording of recordings">
        <p>{{ recording.downloadURL }}</p>
        <video width="800" controls>
            <source [src]="recording.downloadURL" type="video/webm"/>
        </video>
    </div>
</div>

<ng-template #login>
    <button class="button" (click)="auth.googleSignin()">Login with Google</button>
</ng-template>