<div id="main-container">
    <video #video class="video" 
        [muted]="isRecording"
        [controls]="!isRecording"
        [autoplay]="isRecording" >
        Your browser does not support HTML5 video.
    </video>
    <div id="button-container">
        <button mat-flat-button class="rounded-button" (click)="toggleRecording()">{{ !isRecording ? "Record" : "Stop" }} </button>
        <button mat-flat-button *ngIf="isRecording" (click)="togglePauseRecording()"> {{ isPaused ? "Resume" : "Pause" }}</button>
        <button mat-flat-button *ngIf="isDone" (click)="downloadRecording()"> Download </button>

        <!-- <button mat-flat-button *ngIf="isDone" (click)="uploadRecording()" > Upload </button> -->
    </div>
</div>
