@import '../../../../assets/styles/variables.scss';

#timer-container{
    color: $main-txt-color;
    height:80vh;
    width:100vw;
    display: inline-flexbox;
    justify-content: center;
    align-items: center;  
    text-align: center;
}

mat-progress-spinner{
    margin:0 auto;
    ::ng-deep circle {
        stroke: $main-blue;
        stroke-width: 1rem;
    }
}

#timer-progress-text{
    position: relative;
    top: -110px;
    font-size: 2rem;
}

#time-select-container{
    padding-top:20vh;
}

#timer-progress-container{
    padding-top:20vh;
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width:100px;
}

#start-timer-button{
    margin-top: 10vh;
    align-self: center;
    border-radius: 1.5rem;
}

.text-button{
    margin: 10vw;
    font-size: 1rem;
}

#alert-box{
    margin-top: 30vh;
    font-size: 3rem;
    button{
        margin-top: 5vh;
    }
}