#main-container{
    width: 100%;
    height: 89vh;
}
.video {
    margin: 0 auto;
	border: 1px solid #ddd;
    height: 80vh;
    width: 100vw;
}

#button-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}